* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: "Barlow";
    font-weight: 500;
}

.header {
    background: rgb(0, 0, 0);
    padding-inline: 16px;
    position: sticky;
    top: 0;
}

.nav {
    max-width: 1980;
    height: 70px;
    margin-inline: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
    
.logo img {
    max-width: 270px;
    max-height: 270px;
}

.logo img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.navlist {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navlist a {
    font-size: 18px;
    color: white;
    padding-block: 16px;
}

.navlist a:hover {
    color: #58DF1E;
}

#verde {
    font-size: 18px;
    color: #58DF1E;
    padding-block: 16px;
}

body {
    height: calc(100% - 70px);
}

.hero {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.container h2 {
    color: #fff;
    font-family: "Barlow";
    font-size: 35px;
}

.container p {
    color: black;
    font-family: "Barlow";
    font-size: 25px;
}

.container ul {
    color: #000;
    font-family: "Barlow";
    font-size: 25px;
}

.caracter {
    background-color: #58DF1E;
    width: 800px;
    height: 90%;
    padding: 2rem;
    margin: 2rem;
    border-radius: 15px;
}


