* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: "Barlow";
    font-weight: 500;
}

.header {
    background: rgb(0, 0, 0);
    padding-inline: 16px;
    position: sticky;
    top: 0;
}

.nav {
    max-width: 1980;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
    
.logo img {
    max-width: 270px;
    max-height: 270px;
}

.logo img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.navlist {
    display: flex;
    gap: 32px;
    list-style: none;
}

.navlist a {
    font-size: 18px;
    color: white;
    padding-block: 16px;
}

.navlist a:hover {
    color: #58DF1E;
}

#verde {
    font-size: 18px;
    color: #58DF1E;
    padding-block: 16px;
}

html {
    height: 100%;
}

body {
    height: calc(100vh - 70px);
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), center / cover repeat fixed url(images/backgroudconheça.png);
}

.hero2 {
    /* height: calc(100vh - 70px); */
    height: 100%;
}

.conheça-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow";
}

.itens-inform {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
}
.itens-inform a {
    color: #fff;
    text-shadow:black 0.1em 0.1em 0.2em;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-block: 40px 40px;
}

.image-container {
    display: flex;
    width: 280px;
    height: 168px;
    cursor: pointer;
    position: relative;
    margin: 3rem 5rem;
}
.image-container:hover {
    box-shadow: 0 100px 100px -100px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.image-container img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}